section.section-works
  .container
    h2.secondary-title Recent works
    span.title-descr It has survived not only five centuries, but also the leap scrambled it to make a type.
    hr.delimiter.delimiter--dark
    ul.categories
      each val in ['all', 'Print Design', 'animation', 'art', 'web design', 'Photography', 'video']
        li.categories__item
          -if(val == 'all')
            a(href="#").categories__link.categories__link--active= val
          -else
            a(href="#").categories__link= val
            
          
  .works
    -for(var i = 1; i<=8; i++)
      .works__item
        .works__item-inner
        .works__item-content
          img(src="img/works/work" + i +".jpg").works__img
          a(href="#").works__text
            span.works__title T-Shirt Design
            span.works__cat art / t-shirt
