extends ../layouts/main_layout.pug

block title
  title Bino

prepend content
  include ../modules/about/about.pug
  include ../modules/services/services.pug
  include ../modules/works/works.pug
  include ../modules/case/case.pug
  include ../modules/stats/stats.pug
  include ../modules/price/price.pug
  include ../modules/team/team.pug
  include ../modules/integration/integration.pug
  include ../modules/blog/blog.pug
  include ../modules/contact/contact.pug
  +icon('home', 'red_mod')
  
  a.btn.btn--bordered(href="#") Click Me
