extends ../layouts/main_layout.pug

block title
  title Bino

prepend content
  include ../modules/about/about.pug
  include ../modules/services/services.pug
  +icon('home', 'red_mod')
  
  a.btn.btn--bordered(href="#") Click Me
