section.section-about#about
  .container
    .row
      .col-md-6.hidden-sm.hidden-xs
        img(src="img/monitor.jpg", alt="Monitor").img-responsive
      .col-md-6.col-xs-12
        h2.secondary-title.secondary-title--left Our History
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk- nown printer took a galley of type and scrambled it to make a type specimen book. 
        p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        
        a(href="#").btn.btn--big BROWSE OUR WORK
