.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-anchor {
	font-size:(34/10)*1rem;
	width:(26/34)*1em;
}
.icon-f {
	font-size:(20/10)*1rem;
	width:(9.969/20)*1em;
}
.icon-g {
	font-size:(17.5/10)*1rem;
	width:(19.937/17.5)*1em;
}
.icon-home {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-l {
	font-size:(18.6/10)*1rem;
	width:(20.219/18.6)*1em;
}
.icon-layers {
	font-size:(29/10)*1rem;
	width:(34/29)*1em;
}
.icon-nonitor {
	font-size:(25/10)*1rem;
	width:(30/25)*1em;
}
.icon-o {
	font-size:(20/10)*1rem;
	width:(11.625/20)*1em;
}
.icon-photo {
	font-size:(25/10)*1rem;
	width:(28/25)*1em;
}
.icon-r {
	font-size:(20/10)*1rem;
	width:(19.875/20)*1em;
}
.icon-s {
	font-size:(20/10)*1rem;
	width:(19.906/20)*1em;
}
.icon-t {
	font-size:(16.3/10)*1rem;
	width:(19.875/16.3)*1em;
}
.icon-v {
	font-size:(17.5/10)*1rem;
	width:(19.907/17.5)*1em;
}
