.btn, a.btn
  display: inline-block
  vertical-align: middle
  text-align: center
  text-transform: uppercase
  outline: none
  color: #fff
  padding: 1rem 0
  font-family: 'opens-semibold', sans-serif
  font-size: 1.2rem
  letter-spacing: 0.14px
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25)
  transition: all .2s
  border-radius: 2px
  background-color: $color-accent
  border: 1px solid $color-accent
  cursor: pointer
  backface-visibility:hidden

  &--rounded
    border-radius: 3px

  &:hover
    transform: translateY(-3px)
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2)

  &:active
    transform: translateY(-1px)
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2)

  &--big
    padding: 1.5rem 0
    width: 22.5rem
  &--medium
    width: 14.5rem
  &--transparent
    background-color: transparent
    border-color: currentColor
  &--gray
    background-color: #999
    border: none

// input[type="submit"].btn, button.btn
//   padding-top: 0

.circle-btn
  display: flex
  +size(7.3rem)
  background-color: $color-white
  background-clip: padding-box
  border-radius: 50%
  text-align: center
  line-height: 6rem
  border: 6px solid rgba(#fff, .25)
  padding: 1.2rem
  z-index: 100
  backface-visibility: hidden
  &:hover
    animation-name: pulse
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
  svg
    backface-visibility: hidden
    fill: $color-accent

  &--more
    position: absolute
    top: -5rem
    left: 50%
    transform: translateX(-50%)
    &:hover
      animation-name: pulse-more


@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes pulse-more
  0%
    transform: translateX(-50%) scale(1)
  50%
    transform: translateX(-50%) scale(1.2)
  100%
    transform: translateX(-50%) scale(1)
