    $s-1: 36px 90px -36px -90px 27px 13px 150px 109px 'sprite.png';
    $s-2: 0px 90px 0px -90px 21px 19px 150px 109px 'sprite.png';
    $s-3: 128px 43px -128px -43px 17px 27px 150px 109px 'sprite.png';
    $s-4: 92px 49px -92px -49px 21px 22px 150px 109px 'sprite.png';
    $s-bulb: 92px 0px -92px 0px 21px 34px 150px 109px 'sprite.png';
    $s-flag: 128px 0px -128px 0px 22px 28px 150px 109px 'sprite.png';
    $s-heart: 44px 46px -44px -46px 31px 26px 150px 109px 'sprite.png';
    $s-label: 0px 46px 0px -46px 29px 29px 150px 109px 'sprite.png';
    $s-like: 0px 0px 0px 0px 31px 31px 150px 109px 'sprite.png';
    $s-star: 46px 0px -46px 0px 31px 29px 150px 109px 'sprite.png';
