    $s-1: 36px 49px -36px -49px 27px 13px 89px 68px 'sprite.png';
    $s-2: 0px 49px 0px -49px 21px 19px 89px 68px 'sprite.png';
    $s-3: 36px 0px -36px 0px 17px 27px 89px 68px 'sprite.png';
    $s-4: 68px 0px -68px 0px 21px 22px 89px 68px 'sprite.png';
    $s-bulb: 0px 0px 0px 0px 21px 34px 89px 68px 'sprite.png';
