    $s-1: 0px 42px 0px -42px 27px 13px 89px 55px 'sprite.png';
    $s-2: 68px 0px -68px 0px 21px 19px 89px 55px 'sprite.png';
    $s-3: 0px 0px 0px 0px 17px 27px 89px 55px 'sprite.png';
    $s-4: 32px 0px -32px 0px 21px 22px 89px 55px 'sprite.png';
