body
	font-size: 1.4rem
	line-height: 2
	color: $color-text
	font-family: $default-font

.main-title
	font-family: "opens-bold", sans-serif
	font-size: 7.2rem
	text-transform: uppercase
	letter-spacing: 7.2px
	color: $color-white
	line-height: 1
	margin: 2.5rem auto 4.5rem
	+laptop-max
		font-size: 6rem
	+tablets-max
		font-size: 4rem
	+phones-max
		letter-spacing: 5px

.secondary-title
	position: relative
	font-family: "sanspro", sans-serif
	font-weight: 700
	text-transform: uppercase
	margin: 0 0 4rem
	line-height: 1.1
	color: #6a6a6a
	font-size: 3.6rem
	text-transform: uppercase
	letter-spacing: 3.6px

	&--left
		padding-left: 3.4rem
		&::before
			content: ''
			position: absolute
			width: 6px
			height: 36px
			background-color: $color-accent
			top: 2px
			left: 0
	&--right
		padding-right: 3.4rem
		+phones-max
			padding-right: 0
			padding-left: 2rem
		&::after
			content: ''
			position: absolute
			width: 6px
			height: 36px
			background-color: $color-accent
			top: 2px
			right: 0
			+phones-max
				display: none
	&--white
		color: $color-white

.title-descr
	margin-bottom: 3rem
	display: inline-block
