section.section-stats
  .container
    ul.stats
      li.stats__item
        .stats__icon
          i.stats__icon-heart
        span.stats__nr 3891
        span.stats__text User Favourites
      li.stats__item
        .stats__icon
          i.stats__icon-label
        span.stats__nr 285
        span.stats__text Amazing Features
      li.stats__item
        .stats__icon
          i.stats__icon-like
        span.stats__nr 281K
        span.stats__text Posts Last 24 Hours
      li.stats__item
        .stats__icon
          i.stats__icon-star
        span.stats__nr 618
        span.stats__text Total Posts
      li.stats__item
        .stats__icon
          i.stats__icon-flag
        span.stats__nr 178
        span.stats__text Campaigns
